.stepContainer{
    width:23%;
    height: 75vh;
    float:left;
    margin:1%
}

h3{
    text-align: center;
    font-weight: bold;
    color: #6366f1;
}

.closeButton{
    float:right;
    color:red;
    font-style: bold;
    cursor: pointer;
}
