<p-dialog header="Add Opportunity" [(visible)]="displaySaveModal" [modal]="true" [style]="{width: '40vw',height:'40vh'}" [maximizable]="true" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">


    <label style="margin-right: 1%;" htmlFor="firstName">Name:</label>
    <input  style="margin-bottom: 2%;"  [(ngModel)]="opportunityName" pInputText id="firstName" type="text"/>


<p>
    Contacts: <p-autoComplete  [(ngModel)]="selectedContacts" [suggestions]="filteredContacts" (completeMethod)="filterOpportunities($event)" field="content" [multiple]="true">
    </p-autoComplete>
</p>


<br>

<p-button (click)="this.saveOpportunity()" label="Add Opportunity"></p-button>


    <ng-template pTemplate="footer"></ng-template>
</p-dialog>
